# Entornos virtuales
.venv/
venv/
env/
ENV/

# Datasets y archivos grandes  
Dataset/
*.csv
data/
*.pkl
*.h5
*.hdf5

# Python
__pycache__/
*.pyc
*.pyo
.Python
.pytest_cache/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
