# Entornos virtuales
.venv/
venv/
env/
ENV/

# Archivos grandes de datos
*.csv
Dataset/
EjerciciosPropuestos/Ejercicio3/noticias_procesadas.csv

# Otros archivos comunes de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
